<!-- ejs file과 같은 html file -->
<!-- live reraod를 사용하기 위한 html file -->

<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
    <div id="wrap">
        <div id="header_wrap">
            <div id="header_left">
                <a href="" class="logo"><img src="../public/images/logo.png" alt=""></a>
                <div class="category">
                    <ul>
                        <li>
                            <a href="">women</a>
                            <ul>
                                <li><a href="">펌프스</a></li>
                                <li><a href="">단화/로퍼</a></li>
                                <li><a href="">토오픈/슬링백</a></li>
                                <li><a href="">블로퍼/슬리퍼</a></li>
                                <li><a href="">스니커즈</a></li>
                                <li><a href="">앵클/부츠</a></li>
                            </ul>
                        </li>
                        <li><a href="">men</a></li>
                        <li><a href="">special</a></li>
                        <li><a href="">best</a></li>
                        <li><a href="">new</a></li>
                        <li><a href="">community</a></li>
                    </ul>
                </div>
                <div class="bottom">
                    <div class="cs-area">
                        <dl>
                            <dt>온라인상품 / 배송문의</dt>
                            <dd>1577·7650</dt>
                        </dl>
                        <dl style="padding-top: 20px;">
                            <dt>매장 상품구매 / 불만사항</dt>
                            <dd>1577·5499</dt>
                        </dl>
                        <ul style="padding-top: 15px;">
                            <li>평일 AM10:00 ~ PM17:00</li>
                            <li>점심 PM12:00 ~ PM13:00</li>
                            <li>주말 및 공휴일은 휴무입니다.</li>
                        </ul>
                    </div>
                    <div class="today_view-area">
                        <p>today view</p>
                        <div class="arrow_btn">
                            <div class="arrow prev"></div>
                            <div class="arrow next"></div>
                        </div>
                        <ul>
                            <img src="../public/images/no-product.png" alt="" class="no_product">
                            <li><a href=""><img src="../public/images/product images/2436_main_019.png" alt=""></a></li>
                            <li><a href=""><img src="../public/images/product images/2596_main_030.png" alt=""></a></li>
                            <li><a href=""><img src="../public/images/product images/2596_main_030.png" alt=""></a></li>
                            <li><a href=""><img src="../public/images/product images/2596_main_030.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="header_top"></div>
        </div>
        <div id="container">
            <div id="content_1"></div>
            <div id="content_2"></div>
            <div id="content_3"></div>
        </div>
        <div id="footer_wrap">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
        </div>
    </div>
</body>
</html>